# Node.js dependencies
node_modules/

# MacOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# IDE/editor config files
.vscode/
.idea/

# Tailwind CSS config
tailwind.config.cjs
postcss.config.cjs

# Vite config
vite.config.ts
